Repository VictorAvelar/column, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, documentation, docker, devcontainers, gh-actions, core, modules, testdata, config, meta-files

.github/labeler.yml:

tests:
  - any: ["**/*_tests.go"]

documentation:
  - any: [docs/*]

docker:
  - any: ["Dockerfile", ".dockerignore", ".devcontainers/Dockerfile"]

devcontainers:
  - any: [".devcontainers/"]

gh-actions:
  - any: [.github/**/*.yml]

core:
  - any: ["**/*.go", "!**/*_tests.go"]

modules:
  - any: [go.*]  

testdata:
  - any: [testdata/*]

config:
  - any: [".*.yml", "*.toml"]

meta-files:
  - any: ["Makefile", "README.md", "LICENSE", "SECURITY.md"]

feat(devcontainer): enhancements to the devcontainer.json file
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

chore(devtools): replace make with task
  Makefile
  Taskfile.yml
Labels: none

chore(security): update security.md and go.mod
  SECURITY.md
  go.mod
Labels: modules

chore(reload): update temp reload binary name
  .air.toml
Labels: none

chores(spellcheck): ignore config files
  .devcontainer/devcontainer.json
  .golangci.yaml
Labels: none

fix meta files
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/golangci-lint.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .golangci.yaml
  .goreleaser.yml
  SECURITY.md
  Taskfile.yml
  go.mod
Labels: gh-actions, modules

fix indent level
  .golangci.yaml
Labels: none

match version in go file
  .github/workflows/main.yml
Labels: gh-actions

manually install go 1.22 using setup go action
  .github/workflows/codeql-analysis.yml
Labels: gh-actions

fix(liner): error when using deprecated output format
  .golangci.yaml
Labels: none

fix(codeql): remove manual config to use automated feature
  .github/workflows/codeql-analysis.yml
Labels: gh-actions

fix gomod version to the 1.N.P sintax
  go.mod
Labels: modules

Feature path updated in devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update air install ref
  .devcontainer/devcontainer.json
Labels: none

Fix container version and install go packages packages on docker build.
  .devcontainer/Dockerfile
Labels: none

Cleanup and improve devcontainer
  .devcontainer/devcontainer.json
Labels: none

remove empty portAttributes
  .devcontainer/devcontainer.json
Labels: none

Improve build performance by combining commands
  .devcontainer/Dockerfile
Labels: none

pin go tools to specific versions
  .devcontainer/Dockerfile
Labels: none
