Repository VictorAvelar/column, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, documentation, docker, gh-actions, core, modules, testdata, config, meta-files

chore(maintenance): multiple updates and tweaks
  .devcontainer/devcontainer.json
  .dockerignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .gitignore
  .golangci.yaml
  LICENSE
  SECURITY.md
Labels: gh-actions

chore(maintenance): add missing meta and config files
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .golangci.yaml
  .goreleaser.yml
  Makefile
Labels: gh-actions, config

feat(tools): add cosmtrek/air integration
  .air.toml
  .devcontainer/Dockerfile
  .dockerignore
Labels: none

feat(tools): add EOF
  .air.toml
  .devcontainer/Dockerfile
Labels: none

Update .air.toml
  .air.toml
Labels: none

feat(example): add example files for CI
  example/example.go
  example/example_test.go
  go.mod
Labels: core, modules

fixes to make ci runnable
  .devcontainer/devcontainer.json
  example/example_test.go
  go.mod
Labels: core, modules

gofmt files
  example/example.go
Labels: core

Update to use devcontainer features where possible
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

remove extra coma
  .devcontainer/devcontainer.json
Labels: none

.github/labeler.yml:

tests:
  - any: ["**/*_tests.go"]

documentation:
  - docs/*

docker:
  - any: ["Dockerfile", ".dockerignore"]

gh-actions:
  - .github/**/*.yml

core:
  - any: ["**/*.go", "!**/*_tests.go"]

modules:
  - go.*  

testdata:
  - testdata/*

config:
  - any: [".*.yml"]

meta-files:
  - any: ["Makefile", "README.md", "LICENSE", "SECURITY.md"]
